#bid-form{
  .bid-description {
    font-size: 2rem;
    font-weight: normal;
  }

  .btn-bid {
    padding-left: 50px;
    padding-right: 50px;
  }
}

#bid {
  margin-top: 10px;
  
  .your-bid {
    background-color: darkolivegreen;
    color: white;
    a {
      color: white
    }
  }

  .bid-info {
    border: 1px solid white;
    padding: 20px;
    border-radius: 10px;
  }
}